<!DOCTYPE html>
<html ng-app="classApp">
  <head>
    <meta charset="utf-8">
    <title>HTTP in CLASS</title>
  </head>
  <body ng-controller="mainCtrl">

    <button type="button" name="button" ng-click="getAllArtist()">Get ALL</button>
    <form class="" action="index.html" method="post">
      <input type="text" name="name" value="" placeholder="name" ng-model="name">
      <input type="text" name="name" value="" placeholder="genre" ng-model="genre">
      <input type="text" name="name" value="" placeholder="rating" ng-model="rating">
      <button type="button" name="button" ng-click="artistAddition()">Add Artist</button>
    </form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="./scripts/app.js" charset="utf-8"></script>
<script src="./scripts/mainCtrl.js" charset="utf-8"></script>
<script src="./scripts/dataService.js" charset="utf-8"></script>
  </body>
</html>
